<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="merchants-list" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="mx-auto">Merchants list</h1>
  </div>
  <div id="merchant-list-container" class="d-flex justify-content-evenly flex-wrap">
      <table class="table table-hover">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last</th>
              <th scope="col">Email</th>
              <th scope="col">Store</th>
              <th scope="col">Enabled</th>
              <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="m : ${merchants}">
              <th scope="row" th:text="${m.id}"></th>
              <td th:text="${m.firstName}"></td>
              <td th:text="${m.lastName}"></td>
              <td th:text="${m.email}"></td>
              <td th:text="${m.store}"></td>
              <td th:text="${m.enabled}"></td>
              <td>
                  <a th:href="${api} + 'merchant/disable?id=' + ${m.id}"><span class="d-inline-block table-action" data-feather="lock" th:if="${m.enabled == 'Yes'}" ></span></a>
                  <a th:href="${api} + 'merchant/enable?id=' + ${m.id}"><span class="d-inline-block table-action" data-feather="unlock" th:unless="${m.enabled == 'Yes'}"></span></a>
                  <a th:href="${api} + 'merchant/delete?id=' + ${m.id}"><span class="d-inline-block table-action" data-feather="trash-2" ></span></a>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</main>
</body>
</html>