<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    <h1 class="display-1 fw-bold text-primary">403</h1>
    <h3 class="display-5 fw-bold text-primary">Unauthorized</h3>
    <button onclick="history.back()" class="text-primary fw-bold btn fs-3">Go back</button>
</div>
</body>
</html>