<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css} ">
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Home</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="bi me-2" th:src="@{/assets/logo.svg}">
        </a>
    </header>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 fs-2">Quickly handle the pre-paid cards sold in your own shop!</p>
        <p class="lead mb-4">Insert a card's code and check the balance</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a th:href="@{/dashboard} " class="btn btn-primary btn-lg px-4 gap-3">Private Area</a>
            <button id="check-balance-btn" type="button" class="btn btn-outline-secondary btn-lg px-4">Check balance</button>
        </div>
    </div>
</div>
<div id="credit-card-div" style="display: none" class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <form method="POST" th:action="@{/balance}">
            <input type="text" class="form-control" placeholder="Card number" name="number" id="number" aria-label="Card number">
        </form>
    </div>
</div>
<div th:if="${param.err != null}" th:text="'Card not found!'" id="credit-card-response-err" class="col-lg-3 text-center mx-auto my-4 alert alert-danger" ></div>
<div th:if="${balance != null}" th:text="'The balance is: ' + ${balance} + '€'" id="credit-card-response-succ"  class="col-lg-3 text-center mx-auto my-4 alert alert-primary" ></div>
</body>
<script th:inline="javascript">
    const baseUrl = /*[[${path}]]*/ ""
</script>
<script th:src="${js} +jquery-3.7.0.min.js"></script>
<script th:src="${js} + bootstrap.min.js"></script>
<script th:src="${js} + index.js"></script>
</html>