<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" integrity="sha512-24XP4a9KVoIinPFUbcnjIjAjtS59PUoxQj3GNVpWc86bCqPuy3YxAcxJrxFCxXe4GHtAumCbO2Ze2bddtuxaRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customers list</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="${css} + dashboard.css" rel="stylesheet">
    <link th:href="${css} + bootstrap.min.css" rel="stylesheet" >
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/navbar.html :: nav"></nav>
        <main th:replace="fragments/customer-list.html :: customer-list" ></main>
    </div>
</div>
<script th:inline="javascript">
    const baseUrl = /*[[${path}]]*/ ""
    const page = /*[[${page}]]*/ ""
</script>
<script th:src="${js} + jquery-3.7.0.min.js"></script>
<script th:src="${js} + bootstrap.min.js"></script>
<script th:src="${js} + customer-list.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace()
</script>
</body>
</html>
